.search-input:focus {
    outline: none;
}
.gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.8em;
    border-radius: 15px;
    width: 90%;
    height: 100%;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 1em rgba(0, 0, 0, .25);
    background-color: #f1faee;
}
.bought::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 0.5em;
    border-radius: 25px;
    top: 2%;
    right: 0;
    background-color: rgba(29, 53, 87, 1);
}

.gameContainer p, img {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.game-name {
    width: 100%;
    margin: 0 0.4em 1em 0.4em;
}

.game-year, .game-console {
    margin: 0.2em 0.4em;
    font-weight: 400;
    align-self: flex-end;
    color: #14213d;
}

.game-console {
    text-align: right;
    max-height: 25px;
    max-width: 75px;
    object-fit: contain;
}
.pc::before {
    background-image: url("resources/images/pc-game.webp");
}

.ps1::before {
    background-image: url("resources/images/ps1-game.webp");
}

.ps2::before {
    background-image: url("resources/images/ps2-game.webp");
}

.ps3::before {
    background-image: url("resources/images/ps3-game.webp");
}

.ps4::before {
    background-image: url("resources/images/ps4-game.webp");
}

.ps5::before {
    background-image: url("resources/images/ps5-game.webp");
}

.switch::before {
    background-image: url("resources/images/switch-game.webp");
}