* {
    box-sizing: border-box;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 2em;
    font-size: 1rem;
    color: #000000;
    background: rgba(29, 53, 87, 1);
    font-family: 'Open Sans', sans-serif;
}

.search-input {
    padding: 1.5em 2em;
    text-align: center;
    margin: 0 auto;
    background-color: #f1faee;
    font-size: 1rem;
    border-radius: 45px;
    letter-spacing: 1px;
    border: none;
    color: #000000;
}

.search-input::placeholder {
    opacity: 0.75;
    color: #14213d;
}

.search-input:focus {
    outline: none;
}

.gameList {
    margin: 0 auto;
    padding: 1em;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2em;
    width: 90%;
    max-width: 1500px;
}

.gameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.8em;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 1em rgba(0, 0, 0, .25);
    background-color: #f1faee;
}

.bought::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 0.5em;
    border-radius: 25px;
    top: 2%;
    right: 0;
    background-color: rgba(29, 53, 87, 1);
}

.gameContainer p, img {
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.game-name {
    width: 100%;
    margin: 0 0.4em 1em 0.4em;
}

.game-year, .game-console {
    margin: 0.2em 0.4em;
    font-weight: 400;
    align-self: flex-end;
    color: #14213d;
}

.game-console {
    text-align: right;
    max-height: 25px;
    max-width: 75px;
    object-fit: contain;
}

.main-btns {
    place-self: center;
    margin: 2em;
}